body {
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    background-color: #272727;
}

#heading {
    color: #D3D3D3;
}

#listcontainer {
    margin: 100px auto;
}

.result-image {
    float: right;
}

#strength-rate {
    color: #D3D3D3
}